<! DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org ">
<head>
	<title>Adresses</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

	<header th:insert="navbar.html :: navbar"> </header>

	<div  style="margin: 20px">
		<p> Addresses <p>
		<ul class="list-group" th:each="address: ${ allAddresses }">
			<li class="list-group-item" th:text="${ address.content } + ' (' + ${ address.author } + ')' " />
		</ul>
	</div>
	
</body>
</html>
