<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Address</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
	<header th:insert="navbar.html :: navbar"> </header>

	<form style="margin: 20px" th:action="@{/meteo}" method="POST">
	  <div class="form-group">
	    <label>Please input your address</label>
	    <input class="form-control" placeholder="Enter address" th:name="address">
	  </div>
	   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get the weather at the given address !</button>
	</form>

	<span th:if="${actualTemp != null}" th:text="'It is right now ' + ${actualTemp} + ' celcius degrees, ' + ${forecast} + ', at ' + ${address}" style="margin: 20px"></span>

	<span th:if="${error != null}" th:text="${error}" style="margin: 20px; color: red"></span>

</body>
</html>
